.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #e24329; /* Цвет шапки, как у GitLab */
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.sidebar {
  background-color: #f5f5f5;
  padding: 15px;
  position: fixed;
  top: 50px; /* Отступ ниже шапки */
  bottom: 50px; /* Отступ до футера */
  left: 0;
  width: 200px; /* Ширина бокового меню */
  overflow-y: auto;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  display: block; /* Делает ссылки блочными, чтобы занимали всю ширину */
  padding: 10px;
  background-color: #eaeaea; /* Цвет фона кнопок */
  color: #333;
  border-radius: 5px; /* Закругленные углы */
  transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и цвета */
}

.sidebar nav ul li a:hover {
  background-color: #e24329; /* Цвет фона при наведении */
  color: white; /* Цвет текста при наведении */
}

.main-content {
  margin-left: 220px; /* Отступ для бокового меню */
  padding: 15px;
  flex-grow: 1;
  padding-top: 60px; /* Отступ для шапки */
}

.footer {
  background-color: #e24329; /* Цвет футера, как у GitLab */
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}