body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #e24329; /* Цвет при наведении, как у GitLab */
}

ul {
  list-style-type: none;
  padding: 0;
}